ul {
  padding: 10px;
  background:black;
  color: white;
}
li {
  display: inline;
  padding: 0px 75px 0px 75px;
  font-size: 40px;
}

body {
  font-family: "Courier New";
  background-color: #6f6f77;
  margin: auto;
}

.nav a {
  color: white;
}
.title {
  font-size: 75px;
  text-align: center;
  padding: 40px;
  color: white;
}

.photos{
  display: block;
  width: 200px;
  padding: 100px 0px 100px 0px;
  }


  .navbar {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ef86c9;
    color: #6f6f77;
  }

  li {
    display: inline;
    padding: 0px 75px 0px 75px;
    font-size: 40px;
  }
