body {
  font-family: "Courier New";
  background-color: #6f6f77;
  color: white;
  text-align: center;
}

.title {
  font-size: 150px;
  margin-bottom: 4%;
  margin-top: 4%
}

.subtitle {
  font-size: 50px;
  padding-bottom: 100px;
}

img {
  height: 40%;
  width: 80%;
  margin-bottom: 5%;
}

blockquote {
  padding: 50px;
}

p {
  font-size: 30px;
  text-align: left;
}

.pinktext {
  color: #ef86c9;
}

.greytext {
  color: #6f6f77;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ef86c9;
  color: #6f6f77;
}

li {
  display: inline;
  padding: 0px 75px 0px 75px;
  font-size: 40px;
}

.row1 {
  margin-bottom: 55%;
}

.btn-twitter {
  background: #00acee;
  font-size: 20px;
  color: white;
}

.btn-facebook {
  background: #4868ac;
  font-size: 20px;
  color: white;
}

.btn-pinterest {
  background: #b62f26;
  font-size: 20px;
  color: white;
}

.btn-md {
  color: black;
}

.container-fluid2 {
  margin-top: 5%;
  background-color: #ef86c9;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.img-responsive {
  height: 25%;
  width: 25%;
}

.contactp {
  font-size: 20px;
  text-align: center;
}

.contacth {
  font-size: 30px;
}

.input {
  color: #6f6f77;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}
