ul {
  padding: 10px;
  background:black;
  color: white;
}
li {
  display: inline;
  padding: 0px 75px 0px 75px;
  font-size: 40px;
}
header {
  text-align: center;
  color: white;
  background: url("backgroundimage_homepage.jpeg");
}
.nav a {
  color: white;
}
body {
  font-family: "Helvetica";
}
.Wow {
  background-color: #b997db;
  text-align: center;
  color: white;
}
.contact {
  background-color: #3f0c72;
  color: white;
  padding: 10px 10px 10px 10px;
}
.title {
  font-size: 150px;
}
.mission {
  font-size: 75px;
}
